$primaryDarkestColor:#8f4f22;
$primaryDarkerColor:#c26c2f;
$primaryColor:#ff8e3c;
$primaryLighterColor:#FFA361;
$primaryLightestColor:#ffede0;
$primaryColorText:#ffffff;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';