$primaryDarkestColor:#206f75;
$primaryDarkerColor:#2b979f;
$primaryColor:#39C6D1;
$primaryLighterColor:#62D1D9;
$primaryLightestColor:#dbf6f8;
$primaryColorText:#fffffe;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';