$primaryDarkestColor:#3e3256;
$primaryDarkerColor:#554374;
$primaryColor:#6F5899;
$primaryLighterColor:#8771AE;
$primaryLightestColor:#e4dfef;
$primaryColorText:#fffffe;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';