$primaryColor:#6F569B;
$primaryTextColor:#ffffff;

//menu
$menuBgColor:#191a1c;
$menuBorderColor:#191a1c;
$rootMenuitemTextColor:#f8fafc;
$rootMenuitemIconColor:#f8fafc;
$rootMenuitemHoverTextColor:#191a1c;
$activeRootMenuitemTextColor:#191a1c;
$activeRootMenuitemIconColor:#191a1c;
$activeRootMenuitemBorderColor:#191a1c;
$megamenuRootMenuBorderColor:rgba(255,255,255,.16);
$submenuBgColor:#191a1c;
$horizontalSubmenuBgColor:#191a1c;
$submenuItemTextColor:#f8fafc;
$submenuItemIconColor:#f8fafc;
$submenuItemHoverTextColor:#9599E2;
$activeSubmenuItemTextColor:#9599E2;
$activeSubmenuItemIconColor:#9599E2;
$activeSubMenuitemBorderColor:#9599E2;

//topbar
$topbarBgColor: transparent;
$topbarBgImage: linear-gradient(267deg, #8BC6EC, #9599E2);
$topbarBorderColor: rgba(255,255,255,0.5);
$topbarItemTextColor: #f8fafc;
$topbarItemSecondaryTextColor: #ebedef;
$topbarItemTextHoverColor: #191a1c;
$topbarItemBorderColor: rgba(255,255,255,0.5);

@import '../../sass/layout/_layout';