$primaryColor:#FF8E2E;
$primaryTextColor:#ffffff;

//menu
$menuBgColor:#ffffff;
$menuBorderColor:#c5c8ca;
$rootMenuitemTextColor:#191a1c;
$rootMenuitemIconColor:#191a1c;
$rootMenuitemHoverTextColor:#FFC370;
$activeRootMenuitemTextColor:#FFC370;
$activeRootMenuitemIconColor:#FFC370;
$activeRootMenuitemBorderColor:#FFC370;
$megamenuRootMenuBorderColor: rgba(0,0,0,.16);
$submenuBgColor:#e8e8e8;
$horizontalSubmenuBgColor:#ffffff;
$submenuItemTextColor:#191a1c;
$submenuItemIconColor:#191a1c;
$submenuItemHoverTextColor:$primaryColor;;
$activeSubmenuItemTextColor:$primaryColor;
$activeSubmenuItemIconColor:$primaryColor;
$activeSubMenuitemBorderColor:$primaryColor;

//topbar
$topbarBgColor: transparent;
$topbarBgImage: linear-gradient(267deg, #99766F, #BB9E97);
$topbarBorderColor: rgba(0,0,0,0.2);
$topbarItemTextColor: #191a1c;
$topbarItemSecondaryTextColor: #191a1c;
$topbarItemTextHoverColor: #FFC370;
$topbarItemBorderColor: rgba(0,0,0,0.2);

@import '../../sass/layout/_layout';