$primaryDarkestColor:#8f3d3c;
$primaryDarkerColor:#ba6384;
$primaryColor:#f582ae;
$primaryLighterColor:#F795BA;
$primaryLightestColor:#fdeaf2;
$primaryColorText:#001858;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';