.content-align-right {
    text-align: right;
}

.content-align-center {
    text-align: center;
}


.ui-dialog .ui-dialog-titlebar {
    padding: 0.5em !important;
}


.ui-datatable-data {
    font-size: 0.9em;

}

.ui-panel .ui-panel-titlebar {
    padding: 0px 1em !important;
}

.ui-dialog .ui-dialog-content {
    padding: 0.5em !important;
}

.ui-panel .ui-panel-titlebar h4 {
    margin: 0px;
}

.ui-datatable .ui-datatable-header h4 {
    margin: 0px;
}

.ui-datatable .ui-datatable-header {
    padding: 0.1em 1em !important;
}

.ui-column-title {
    font-size: 0.95em !important;
}

.ui-datatable thead th {
    font-size: 0.9em !important;
}

.ui-datatable thead th .ui-column-title {
    font-weight: bold !important;
}

.ui-datatable thead th {
    text-align: center !important;
}

.layout-content {
    padding: 20px 1% !important;
}

.layout-topbar {
    background-color: #6F5899 !important;
    background-image: none !important;
}

.ui-fieldset .ui-fieldset-legend {
    padding: 0.1em 1em !important;
}

.ui-fieldset {
    padding: 0.2em 0.5em !important;
}

.ui-button {
    font-size: 1.2em !important;
}

.p-datepicker input {
    width: 98% !important;
}

.p-col-5p {
    width: 5%;
}

.p-col-10p {
    width: 10%;
}

.p-col-15p {
    width: 15%;
}

.p-col-20p {
!important width: 20 %;
}

.p-col-25p {
    width: 25%;
}

.p-col-30p {
    width: 30%;
}

.p-col-35p {
    width: 35%;
}

.p-col-40p {
    width: 40%;
}

.p-col-45p {
    width: 45%;
}

.p-col-50p {
    width: 50%;
}

.p-col-55p {
    width: 55%;
}

.p-col-60p {
    width: 60%;
}

.p-col-65p {
    width: 65%;
}

.p-col-70p {
    width: 70%;
}

.p-col-75p {
    width: 75%;
}

.p-col-80p {
    width: 80%;
}

.p-col-85p {
    width: 85%;
}

.p-col-90p {
    width: 90%;
}

.p-col-95p {
    width: 95%;
}

.p-col-100p {
    width: 100%;
}

.custom-filter-esta {
    font-size: 10px;
}

.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    padding: .2em !important;
}

.ui-panelgrid .ui-panelgrid-cell {
    padding: .2em .3em !important;
}

.p-grid {
    margin-left: 0 !important;
    margin-bottom: .5% !important;
}

.ui-datatable thead > tr {
    border-left: 1px solid #d8d8dc !important;
    border-right: 1px solid #d8d8dc !important;
    border-bottom: 0 !important;
}

.ui-datatable .ui-datatable-data > tr > td {
    padding: .3em !important;
}

.ui-datatable tfoot td {
    padding: .3em !important;
}

.ui-datatable thead th {
    padding: .3em !important;
}

.ui-inputfield {
    padding: .4em !important;
}

.ui-button {
    margin: 0.1em 0.1em !important;
}

td .ui-button {
    margin: 0;
    font-size: 1em !important;
}


.ui-datatable-scrollable-theadclone th.ui-state-default {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

body .ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-selectonemenu-filter.ui-inputfield {
    padding-left: 30px !important;
    width: 100%;
}



@media (max-width: 500px) {

    body .ui-dialog{
        width: 98%;
    }

    .layout-wrapper .layout-topbar {
        padding: 0px;
    }

    .layout-wrapper .layout-topbar .layout-topbar-wrapper {
        height: 120px;
        position: relative;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .layout-wrapper .layout-topbar .layout-topbar-wrapper .layout-rightpanel-button {
        position: absolute;
        right: 13px;
        top: 0;
        height: 60px;
        display: flex;
        align-items: center;
        margin-right: 0;
    }

    .layout-wrapper .layout-topbar .layout-topbar-wrapper .layout-topbar-left {
        padding: 0px 13px;
        height: 60px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-left: 0;
    }

    .layout-wrapper .layout-topbar .layout-topbar-wrapper .layout-topbar-left .menu-button {
        font-size: 22px;
        padding: 12px;
        height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        left: 13px;
        top: 0;
        height: 60px;
    }

    .layout-wrapper .layout-topbar .layout-topbar-wrapper .layout-topbar-left .layout-topbar-logo {
        display: flex;
        justify-content: center;
    }

    .layout-wrapper .layout-topbar .layout-topbar-wrapper .layout-topbar-right {
        padding: 0px 13px;
        height: 60px;
        width: 100%;
        border-top: solid 1px rgba(255, 255, 255, 0.5);
    }

    .layout-wrapper .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions {
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .layout-wrapper .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.profile-item {
        width: 100%;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        border-right: none;
    }

    .layout-wrapper .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.profile-item > a {
        min-width: auto;
    }

    .layout-wrapper .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.profile-item > a .profile-info-wrapper {
        display: none;
    }

    .layout-wrapper .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.profile-item.active-topmenuitem > ul {
        left: 5%;
        right: auto;
    }

    .layout-wrapper .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul {
        top: 120px;
        width: 90%;
        left: 5%;
        right: auto;
        position: fixed;
    }

    .layout-wrapper .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul::before {
        width: 100%;
    }
}


.ui-fluid .ui-calendar, .ui-fluid .ui-calendar input {
    text-align: right;
}
