$primaryDarkestColor:#3a5764;
$primaryDarkerColor:#4f7688;
$primaryColor:#689AB2;
$primaryLighterColor:#79ABC3;
$primaryLightestColor:#cbdfe8;
$primaryColorText:#fffffe;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';