$primaryDarkestColor:#355d2e;
$primaryDarkerColor:#487e3f;
$primaryColor:#60A753;
$primaryLighterColor:#77B36C;
$primaryLightestColor:#e0f1dd;
$primaryColorText:#fffffe;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';