$primaryDarkestColor:#4f442e;
$primaryDarkerColor:#6b5c3e;
$primaryColor:#8C7851;
$primaryLighterColor:#baab8b;
$primaryLightestColor:#ede7dd;
$primaryColorText:#fffffe;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';