$primaryColor:#6F569B;
$primaryTextColor:#ffffff;

//menu
$menuBgColor:#191a1c;
$menuBorderColor:#191a1c;
$rootMenuitemTextColor:#f8fafc;
$rootMenuitemIconColor:#f8fafc;
$rootMenuitemHoverTextColor:#9e8df3;
$activeRootMenuitemTextColor:#9e8df3;
$activeRootMenuitemIconColor:#9e8df3;
$activeRootMenuitemBorderColor:#9e8df3;
$megamenuRootMenuBorderColor:rgba(255,255,255,.16);
$submenuBgColor:#191a1c;
$horizontalSubmenuBgColor:#191a1c;
$submenuItemTextColor:#f8fafc;
$submenuItemIconColor:#f8fafc;
$submenuItemHoverTextColor:#9e8df3;
$activeSubmenuItemTextColor:#9e8df3;
$activeSubmenuItemIconColor:#9e8df3;
$activeSubMenuitemBorderColor:#9e8df3;

//topbar
$topbarBgColor: transparent;
$topbarBgImage: linear-gradient(267deg, #161449, #473751);
$topbarBorderColor: rgba(255,255,255,0.5);
$topbarItemTextColor: #f8fafc;
$topbarItemSecondaryTextColor: #ebedef;
$topbarItemTextHoverColor: #9e8df3;
$topbarItemBorderColor: rgba(255,255,255,0.5);

@import '../../sass/layout/_layout';