$primaryColor:#0BB5AE;
$primaryTextColor:#ffffff;

//menu
$menuBgColor:#ffffff;
$menuBorderColor:#c5c8ca;
$rootMenuitemTextColor:#191a1c;
$rootMenuitemIconColor:#191a1c;
$rootMenuitemHoverTextColor:#D9F2E1;
$activeRootMenuitemTextColor:#D9F2E1;
$activeRootMenuitemIconColor:#D9F2E1;
$activeRootMenuitemBorderColor:#D9F2E1;
$megamenuRootMenuBorderColor: rgba(0,0,0,.16);
$submenuBgColor:#e8e8e8;
$horizontalSubmenuBgColor:#ffffff;
$submenuItemTextColor:#191a1c;
$submenuItemIconColor:#191a1c;
$submenuItemHoverTextColor:$primaryColor;;
$activeSubmenuItemTextColor:$primaryColor;
$activeSubmenuItemIconColor:$primaryColor;
$activeSubMenuitemBorderColor:$primaryColor;

//topbar
$topbarBgColor: transparent;
$topbarBgImage: linear-gradient(267deg, #6F9997, #97BBA3);
$topbarBorderColor: rgba(0,0,0,0.2);
$topbarItemTextColor: #191a1c;
$topbarItemSecondaryTextColor: #191a1c;
$topbarItemTextHoverColor: #D9F2E1;
$topbarItemBorderColor: rgba(0,0,0,0.2);

@import '../../sass/layout/_layout';