$primaryDarkestColor:#372783;
$primaryDarkerColor:#4a35b2;
$primaryColor:#6246ea;
$primaryLighterColor:#9e8df3;
$primaryLightestColor:#f8f7fe;
$primaryColorText:#fffffe;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';