$primaryDarkestColor:#8f3d3c;
$primaryDarkerColor:#c25351;
$primaryColor:#ff6e6c;
$primaryLighterColor:#FF8987;
$primaryLightestColor:#ffe8e7;
$primaryColorText:#1f1235;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';