$primaryDarkestColor:#0a7f78;
$primaryDarkerColor:#0ca096;
$primaryColor:#21b5ad;
$primaryLighterColor:#4ccac4;
$primaryLightestColor:#dcfdfb;
$primaryColorText:#ffffff;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';