$primaryDarkestColor:#646a23;
$primaryDarkerColor:#878f2f;
$primaryColor:#B2BD3E;
$primaryLighterColor:#C2CA73;
$primaryLightestColor:#f2f4da;
$primaryColorText:#fffffe;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';