$primaryDarkestColor:#044747;
$primaryDarkerColor:#056161;
$primaryColor:#078080;
$primaryLighterColor:#4db3b3;
$primaryLightestColor:#c7ebeb;
$primaryColorText:#f8f5f2;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';