$primaryDarkestColor:#225f8d;
$primaryDarkerColor:#2e81c0;
$primaryColor:#3da9fc;
$primaryLighterColor:#6BBCFB;
$primaryLightestColor:#e0f1ff;
$primaryColorText:#fffffe;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';