$primaryDarkestColor:#8f7a01;
$primaryDarkerColor:#c2a502;
$primaryColor:#ffd803;
$primaryLighterColor:#ffe868;
$primaryLightestColor:#fff9d7;
$primaryColorText:#272343;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';