$primaryDarkestColor:#313f8c;
$primaryDarkerColor:#4255be;
$primaryColor:#5871FA;
$primaryLighterColor:#6F85FE;
$primaryLightestColor:#e4e8fe;
$primaryColorText:#fffffe;

@import '../sass/_theme_variables';
@import '../sass/theme/_core';